@model IEnumerable<YemekTarifSitesi.Models.Yemek>

@{
    ViewData["Title"] = "Index";
}
<div style="background-color: #0F0D0C">
    <br /><br /><br /><br />
</div>
<h1>&nbsp;Index</h1>
<p>
    <br /><a class="nav-link" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YemekAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malzemeler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotograf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YemekAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Malzemeler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puan)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Fotograf)*@
                <img src="@Url.Content(item.Fotograf)" class="d-block" style="width:250px; height:250px;" asp-append-version="true" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
