@model IEnumerable<YemekTarifSitesi.Models.YemekMalzeme>

@{
    ViewData["Title"] = "Index";
}

<div style="background-color: #0F0D0C">
    <br /><br /><br /><br />
</div>
<h1>&nbsp;Index</h1>
<p>
    <br /><a class="nav-link" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yemek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malzeme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek.YemekAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Malzeme.Adi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
