
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2">
    <img style="z-index:-1; position: absolute;" src="~/images/genel/bg_3.jpg" class="d-block w-100 h-auto" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">@Localizer["Hakkımızda"]</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index">@Localizer["Anasayfa"] <i class="ion-ios-arrow-forward"></i></a></span> <span><a href="/Home/Tarifler">@Localizer["Tarifler"] </a><i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<div class="bg-white">
    <div class="container">
        <br /><br /><br />
                    <h3 style="text-align: center;"> @Localizer["Şeflerimiz"] </h3>
    </div>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <img src="~/images/sefler/kubra.png" class="block-20" style="width: 100%; height: 70%;">
                        <div class="text pt-3 pb-4 px-4">
                            <h3 class="heading"><a href="https://github.com/kubraxyilmaz">Kübra Yılmaz</a></h3>
                            <p class="clearfix">
                            <p href="" class="float-left read">@Localizer["Şef"]  </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <img src="~/images/sefler/merve.jpg" class="block-20" style="width: 95%; height: 40%;">
                        <div class="text pt-3 pb-4 px-4">
                            <h3 class="heading"><a href="https://github.com/merveesari">Merve Sarı</a></h3>
                            <p class="clearfix">
                            <p class="float-left read">@Localizer["Şef"]  </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <img src="~/images/sefler/seda.jpg" class="block-20" style="width: 100%; height: 70%;">
                        <div class="text pt-3 pb-4 px-4">
                            <h3 class="heading"><a href="https://github.com/sedanursrkoc/">Sedanur Sarıkoç</a></h3>
                            <p class="clearfix">
                            <p class="float-left read">@Localizer["Şef"]  </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


